<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}ComfYe-Blok{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- blok pre nacitanie dalsieho css -->
    {% block css_addon %}{% endblock %}
</head>
<body>

    <!-- hlavne navigacne menu -->
    <nav class="header_container">
        <h1 class="main_title">ComfYe-Blok</h1>
        <ul class="nav_container">
            <li><a href="/" {% if request.path == '/' %} class="active" {% endif %}>Domov</a></li>
            <li><a href="/moje_blocky" {% if request.path == '/moje_blocky' %} class="active" {% endif %}>Moje Bločky</a></li>
            <li><a href="/stats" {% if request.path == '/stats' %} class="active" {% endif %}>Štatistiky</a></li>
            <li><a href="/upload" {% if request.path == '/upload' %} class="active" {% endif %}>Nahrať bloček</a></li>
            <li><a href="/settings" {% if request.path == '/settings' %} class="active" {% endif %}>Nastavenia</a></li>
        </ul>
    </nav>

    <main>
        <!-- main content celej podstranky-->
        {% block content %}{% endblock %}
    </main>

    <!-- blok pre nacitanie konkretneho javascriptu pre konkretnu stranku-->
    {% block js_addon %}{% endblock %}
    
</body>
</html>