{% extends "base.html" %}

<!-- nazov podstranky -->
{% block title %}ComfYe-Blok - Moje Bločky{% endblock %}

<!-- vlastny css -->
{% block css_addon %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/receipts.css') }}">
{% endblock %}

<!-- vlastny javascript -->
{% block js_addon %}
<script src="{{ url_for('static', filename='js/receipts.js') }}"></script>
{% endblock %}

<!-- teraz cely obsah podstranky -->
{% block content %}

<div class="blocky_container">
    {% if receipts %}
        {% for receipt in receipts %}
            <ul>
                    <!-- informacie o udajoch blocku -->
                <li class="receipt_shop"> {{ receipt.shop_name }} </li>
                <li class="receipt_date"> {{ receipt.date }} </li>
                <li class="receipt_time"> {{ receipt.time }} </li>
                <li class="receipt_price"> {{ receipt.prize }} € </li>
                    <li class="receipt_card_buttons">
                    <!-- detail blocku -->
                    <button class="btn_receipt_detail" 
                    data-id=" {{ receipt.id }}"
                    onclick="showDetails(this.dataset.id)">
                    Detail ▼
                    </button>
                
                    <!-- odstranenie blocku -->
                    <button class="btn_receipt_delete"
                    data-id=" {{ receipt.id }}"
                    onclick="deleteReceipt(this.dataset.id)">
                    X
                    </button>
                </li>
            </ul>
        {% endfor %}
        
    {% else %}
        <div class="default_message">
            <p>Zatiaľ nemáte žiadne bločky</p>
        </div>
    {% endif %}

</div>

{% endblock %}