{% extends "base.html" %}

<!-- nazov podstranky -->
{% block title %}ComfYe-Blok{% endblock %}

<!-- vlastny css -->
{% block css_addon %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}"></link>
{% endblock %}

<!-- javascript -->
 {% block js_addon %}
 <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
 {% endblock %}


<!-- teraz cely obsah podstranky -->
{% block content %}

<div class="form_container">
        <form action="/upload" method="post" enctype="multipart/form-data" required>
            <input type="file" name="receipt_file" accept=".pdf">
            <button type="submit">Nahraj súbor</button>
        </form>
</div>

{% if message %}
    <div class="message">
        {{ message }}
    </div>
{% endif %}

{% endblock %}