{% extends "base.html" %}

<!-- nazov podstranky -->
{% block title %}ComfYe-Blok{% endblock %}

<!-- vlastny css -->
{% block css_addon %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
{% endblock %}

<!-- javascript -->
 {% block js_addon %}
 <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
 {% endblock %}


<!-- teraz cely obsah podstranky -->
{% block content %}

<!-- dva typy butonov - funguju ako prepinac medzi pdf a manual a fotkou -->
<div class="upload_options">
    <button id="nav-pdf" class="option_button active" onclick="switchOption('pdf')"> Nahrať pdf </button>
    <button id= "nav-photo" class="option_button" onclick="switchOption('photo')"> Nahrať fotku</button>
    <button id= "nav-manual" class="option_button" onclick="switchOption('manual')"> Nahrať manuálne</button>

</div>

<!-- teraz jednotlive možnosti, default zobbrazenie je pdf -->
<div id="pdf-option" class="option_content active">
    <div class="form_container_pdf">
        <form>
            <input type="file" id="receipt_file_pdf" name="receipt_file_pdf" accept=".pdf">
            <button type="button" onclick="upload_pdf()">Nahraj súbor</button>
        </form>
    </div>
</div>

<!-- nahrať fotku -->
<div id="photo-option" class="option_content">
    <div class="form_container_pdf">
        <form>
            <input type="file" id="receipt_file_img" name="receipt_file_img" accept=".jpg,.jpeg,.png">
            <button type="button" onclick="upload_img()">Nahraj fotku</button>
        </form>
    </div>
</div>

<!-- manualne nahranie blocku-->
<div id="manual-option" class="option_content">
    <div class="form_container_pdf">

        <!-- nazov obchodu -->
        <div class="manual_field">
            <label>Obchod</label>
            <select id="manual_shop" onchange="toggleCustomShop()">
                <option value="Dr.Max">Dr.Max</option>
                <option value="TERNO">TERNO</option>
                <option value="ine">Iné</option>
            </select>
            <input type="text" id="manual_shop_custom" placeholder="Názov obchodu" style="display:none;">
        </div>

        <!-- datum-->
        <div class="manual_field">
            <label>Dátum</label>
            <input type="text" id="manual_date" placeholder="DD.MM.YYYY">
        </div>

        <!-- čas   -->
        <div class="manual_field">
            <label>Čas</label>
            <input type="text" id="manual_time" placeholder="HH:MM:SS">
        </div>

        <!-- suma nakupu  -->
        <div class="manual_field">
            <label>Celková suma (€)</label>
            <input type="number" id="manual_prize" step="0.01" min="0" placeholder="0.00">
        </div>

         <!-- polozky blocku -->
        <div class="manual_field">
            <label>Položky</label>
            <div id="manual_items">
            </div>
            <button type="button" onclick="addItem()">+ Pridať položku</button>
        </div>

        <button type="button" onclick="uploadManual()">Uložiť bloček</button>

    </div>
</div>

{% endblock %}